body {
    background-color: cornflowerblue;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

#etch-a-sketch {
    display: flex;
    justify-content: center;
    align-items: center;






}

.pixel {
    background-color: white;

    width: 20px;
    height: 20px;
    
}

